<div class="controls">
  <button class="done btn btn-mini"
      title="Save changes">Done</button>
</div>

<label for="name">Name</label>
<input type="text" name="name" value="{{name}}" placeholder="Name" />

<label for="keyCode">Key code</label>
<input type="text" name="keyCode" value="{{ascii}}"
    {{#global}} disabled="disabled" {{/global}} />

<label for="maxCount">Max count</label>
<input type="text" name="maxCount" value="{{maxCount}}" />

<label for="interval">Interval</label>
<input type="text" name="interval" value="{{interval}}" />

<hr />
<label for="count">Current count</label>
<input type="text" name="count" value="{{count}}" />

<div>
  <button class="delete btn btn-danger btn-mini"
      title="Delete counter">Delete</button>
</div>
